<ul>
{{#events}}
  <li>
      {{title}}
      <ul>
        {{#artists}}
          <li>{{name}}</li>
        {{/artists}}
      </ul>
  </li>
{{/events}}
</ul>




        <div class="row">
            <div class="col-lg-2">
                <form role="form">
                    <div class="form-group">
                        <label for="genre">Genre</label>
                        <select class="form-control">
                            <option value="" disabled selected>choose</option>
                            <option>Country</option>
                            <option> Rock</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <form role="form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Date</label>
                        <input type="datetime" class="form-control" placeholder="date">

                    </div>
                </form>
            </div>
        </div>

    </div>
  </div>
  <!--.\ END ADVANCED SEARCH BOX-->



  <div class="container-fluid">


      <div class="row">
          <div class="col-lg-12">
              <h1 class="ico-date"> List of event</h1>
              <div class="row">
                  <div class="col-lg-8">




                      <div class="row">
                          <div class="col-lg-12">
                              Sort by:
                          </div>
                      </div>




                      <div class="row">
  <div class="col-lg-12">
    <div class="col-lg-1 col-lg-offset-1 ">
      
      <p class="text-center"><span class="dayResult">31</span></p>
      <p class="text-center"><span class="monthResult">Dizimber</span></p>

    </div>
   

   <div class="col-lg-7 eventResult">
      
      <span class="pull-right"><a href="#" class="ico-delete">    </a></span>
      <span class="pull-right"><a href="#" class="ico-edit">    </a></span>
      {{#events}}<h1>{{title}}
      {{#events}}
          <small>hip-Hop, Deep House</small></h1>
      <p><span class="small ico-clock">Start at: 12pm </span> <span class="small ico-clock">Finish at: 12pm </span> <span class="small ico-clock">Prise: 12$ </span></p>

</div>




      </div>
</div>