body { 
padding-top: 110px;
background-image: url(../img/bg.png);	
 }


.search-fixed{ 
position: fixed;
height: 50px;
padding: 8px;
right: 0;
left: 0;
top: 50px;

background-color: #fff;
border-bottom: solid 1px #acacac;

}

.gray{
	background-color: #f7f7f7;
}


.asideRight{

}

.searchResult{
	border: solid 1px #acacac;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #fff;
}

