<div id="artists">
    <div class="new artist">
        <h3><i class="ico-plus"></i>New artist</h3>
        <div class='row '>
            <div class="col-lg-12 ">
                <!-- **************************************ARTISTES******************************************************-->
                <!--*********Infos*************-->
                <div class='col-lg-6'>

                    <fieldset id="infosArtist">
                        <h2><i class="ico-info"></i>Infos</h2  >
                        <!--name-->
                        <div class="input-group">
                            <label for="artistName">Artist name: *</label>
                            <input type="text" name="artistName" id="artistName" placeholder="Artist name" required>
                        </div>
                        <!--genre-->

                        <div class="input-group" id="genre">

                            <label for="genre">Genre: *</label>
                            <button id='addGenre'>Add</button>
                            <div class="genre">
                                <select name="genre" data-key="genre">
                                    <option value="">(Genre)</option> 
                                    <option value="rock">Rock</option> 
                                    <option value="metal">Metal</option> 
                                    <option value="pop">Pop</option> 
                                </select> 
                            </div>
                        </div>
                    </fieldset>
                </div>


                <div class='col-lg-6'>
                    <!--*********Musicians*************-->
                    <fieldset id="musicians">
                        <h2><i class="ico-musician"></i>Musicians</h2>
                        <button class='pull-right' id='addMusician'><i class="ico-plus"></i>Musician</button>
                        <div class="clearfix"></div>

                        <div id="listMusicians">
                            <div class="musicianApercu">
                                <ul class="pull-left">
                                    <li>Nom: <span data-key="firstName"></span><span data-key="lastName"></span></li>
                                    <li>Nom de scène: <span data-key="sceneName"></span></li>
                                    <li>Intrument: <span data-key="instrument"></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="musicians">
                            <div class="new musician">
                                <h3>New musician</h3>
                                <!--first name-->
                                <div class="input-group">
                                    <label for="musicianFirstName">First name: *</label>
                                    <input type="text" name="musicianFirstName" data-key="musicianFirstName" placeholder="Musician first name" required>
                                </div>
                                <!-- last name-->
                                <div class="input-group">
                                    <label for="musicianLastName">Last name: </label>
                                    <input type="text" name="musicianLastName" data-key="musicianLastName" placeholder="Musician last name">
                                </div>
                                <!--nom de scene -->
                                <div class="input-group">
                                    <label for="musicianScenetName">Scene name: </label>
                                    <input type="text" name="musicianScenetName" data-key="musicianScenetName" placeholder="Musician scene name">
                                </div>
                                <!-- Instruments-->
                                <div class="input-group instruments">
                                    <div class="instrument">
                                        <p  class="pull-left">Instruments: *</p> 
                                        <select name="instrument" id="selectInstrument" data-key='instrument'> 
                                            <option value="trompette">Trompette</option> 
                                            <option value="guitarre">Guitarre</option> 
                                            <option value="saxophone">Saxophone</option> 
                                        </select>
                                        <!--<button class="pull-right deleteInstrument"><i class="ico-delete"></i>Delete</button>-->
                                    </div>
                                </div>
                                <!--<button class="pull-right addInstrument"><i class="ico-plus"></i>Instrument</button>-->
                                <div class="clearfix "></div>
                                <br/>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="col-lg-12 ">
                <div class='col-lg-6'>
                    <!--*********Images*************-->
                    <fieldset id="images">
                        <h2><i class="ico-img"></i>Images</h2 >
                        <button class="pull-right" id='addImage'><i class="ico-plus"></i>Image</button>
                        <div class="clearfix"></div>
                        <div id="listImages">
                            <div class="artistImage">
                                <ul class="pull-left">
                                    <li>Titre: <span data-key="imageTitle"></span></li>
                                    <li>Source: <a href="#" data-key="imageSrc"></a></li>
                                    <li>Description: <span data-key="imageDescription"></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="images">
                            <div  class="new image">
                                <h3>New image</h3>
                                <div class="input-group">
                                    <label for="imageTitle">Titre:</label>
                                    <input type="text" data-key="imageTitle" name="imageTitle">
                                </div>
                                <div class="input-group">
                                    <label for="imageDescription">Description:</label>
                                    <input type="text" data-key="imageDescription" name="imageDescription">
                                </div>
                                <input type="file" name="artistImage" data-key="artistImage">
                                <br/>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class='col-lg-6'>
                    <!--*********Links*************-->
                    <fieldset id="links">
                        <h2><i   class="ico-link"></i>Links</h2>
                        <button id='addLink' class="pull-right"><i class="ico-plus"></i>Link</button>
                        <div class="clearfix"></div>
                        <div id="listLinks">                                                       
                            <div class="linkApercu">
                                <ul class="pull-left">
                                    <li>Titre: <span data-key="linkTitle"></span></li>
                                    <li>Description: <span data-key="linkDescription"></span></li>
                                    <li>URL: <a href="#" data-key="linkURL"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="links">
                            <div class="new link">
                                <h3>New link</h3>
                                <div class="input-group">
                                    <label for="linkURL" >URL: *</label>
                                    <input type="url" name="linkURL" data-key="linkURL" placeholder="http://" required>
                                </div>
                                <div class="input-group">
                                    <label for="linkTitle">Titre: *</label>
                                    <input type="text" name="linkTitle" data-key="linkTitle" placeholder="URL title" required>
                                </div>
                                <div class="input-group">
                                    <label for="linkDescription">Description:</label>
                                    <input type="text" name="linkDescription" data-key="linkDescription" placeholder="URL description">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <br/>
    </div>  
</div>