
<div class="new">
    <h3><i class="ico-plus"></i>New artist</h3>
    <div class='row '>
        <div class="col-lg-12 ">
            <!-- **************************************ARTISTES******************************************************-->
            <!--*********Infos*************-->
            <div class='col-lg-6'>

                <fieldset>
                    <h2><i class="ico-info"></i>Infos</h2  >
                    <!--name-->
                    <div class="input-group">
                        <label for="artistName">Artist name: *</label>
                        <input type="text" name="artistName" id="artistName" placeholder="Artist name" required>
                    </div>
                    <!--genre-->
                    <div class="input-group genre">
                        <label for="genre">Genre: *</label>
                        <select name="genre"> 
                            <option value="rock">Rock</option> 
                            <option value="metal">Metal</option> 
                            <option value="pop">Pop</option> 
                        </select> 
                        <button id='addGenre'>Add</button>
                    </div>
                    <!--hour of arrival-->
                    <div class="input-group">
                        <label for='hourArrival'>Hour of arrival: </label>
                        <input type="time" name="hourArrival" id='hourArrival'>
                    </div>
                    <!--order--><br/>
                    <div class="input-group">
                        <label for='artistOrder'>Order: *</label>
                        <input type="number" name='artistOrder' id='artistOrder' required>
                    </div>
                    <!--main performer-->
                    <div class="input-group">
                        <label for="mainPerformer">Main performer of the event? </label>
                        <input type= "radio" name="mainPerformer" value="true" id="mainPerformer">yes
                        <input type= "radio" name="mainPerformer" value="false" id="notMainPerformer" checked>no
                    </div>
                    <!--short description-->
                    <div class="input-group">
                        <p class="pull-left">Short description:</p>
                        <textarea name="shortDescription" cols="40" rows="3" id="shortDescription"></textarea>
                    </div>
                    <!--complete description-->
                    <div class="input-group">
                        <p class="pull-left">Complete description:</p>
                        <textarea name="completeDescription" cols="40" rows="4" id="completeDescription"></textarea>
                    </div>
                </fieldset>
            </div>


            <div class='col-lg-6'>
                <!--*********Musicians*************-->
                <fieldset id="musicians">
                    <h2><i class="ico-artist"></i>Musicians</h2>
                    <button class='pull-right' id='addMusician'><i class="ico-plus"></i>Musician</button>
                    <div id="listMusicians">
                        <div class="musicianApercu">
                            <span>Musician name</span> 
                            <button class='musicianDetails'><i class="ico-detail"></i></button>
                            <button class='musicianEdit'><i class="ico-edit"></i></button>
                            <button class='musicianDelete'><i class="ico-delete"></i></button>
                        </div>
                    </div>
                    <div class="musicians">
                        <div class="new musician">
                            <h3>New musician</h3>
                            <!--first name-->
                            <div class="input-group">
                                <label for="musicianFirstName">First name: *</label>
                                <input type="text" name="musicianFirstName" data-key="musicianFirstName" placeholder="Musician first name" required>
                            </div>
                            <!-- last name-->
                            <div class="input-group">
                                <label for="musicianLastName">Last name: </label>
                                <input type="text" name="musicianLastName" data-key="musicianLastName" placeholder="Musician last name">
                            </div>
                            <!--nom de scene -->

                            <div class="input-group">
                                <label for="musicianScenetName">Scene name: </label>
                                <input type="text" name="musicianScenetName" data-key="musicianScenetName" placeholder="Musician scene name">
                            </div>
                            <!-- Instruments-->
                            <div class="input-group instruments">
                                <div class="instrument">
                                    <p  class="pull-left">Instruments: *</p> 
                                    <select name="instrument" id="selectInstrument"> 
                                        <option value="trompette">Trompette</option> 
                                        <option value="guitarre">Guitarre</option> 
                                        <option value="saxophone">Saxophone</option> 
                                    </select>
                                    <!--<button class="pull-right deleteInstrument"><i class="ico-delete"></i>Delete</button>-->

                                </div>
                            </div>
                            <!--<button class="pull-right addInstrument"><i class="ico-plus"></i>Instrument</button>-->
                            <div class="clearfix"></div>
                            <br/>
                            <button class="pull-right saveMusician"><i class="ico-save"></i>Save</button>
                            <button class="deleteMusician pull-right"><i class="ico-delete"></i>Delete</button><div class="clearfix"></div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="col-lg-12 ">
            <div class='col-lg-6'>
                <!--*********Images*************-->
                <fieldset>
                    <h2><i class="ico-img"></i>Images</h2 >
                    <button class="pull-right" id='addImage'><i class="ico-plus"></i>Image</button>
                    <div id="listImages">
                        <div class="artistImage">
                            <span>Image.jpg</span>
                            <button class='imageDelete'><i class="ico-delete"></i></button>
                            <button class='imageEdit'><i class="ico-edit"></i></button>
                            <button class='imageDetails'><i class="ico-detail"></i></button>
                        </div>
                    </div>
                    <div class="images">
                        <div  class="new image">
                            <h3>New image</h3>
                            <div class="input-group">
                                <label for="imageTitle">Titre:</label>
                                <input type="text" id="imageTitle" name="imageTitle">
                            </div>
                            <div class="input-group">
                                <label for="imageDescription">Description:</label>
                                <input type="text" id="imageDescription" name="imageDescription">
                            </div>
                            <input type="file" name="artistImage" id="artistImage">
                            <button class='saveImage pull-right'><i class="ico-save"></i>Save</button>
                            <button class="pull-right deleteImage"><i class="ico-delete"></i>Delete</button>

                            <br/>
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class='col-lg-6'>
                <!--*********Links*************-->
                <fieldset>
                    <h2><i   class="ico-link"></i>Links</h2>
                    <button id='addLink' class="pull-right"><i class="ico-plus"></i>Link</button>
                    <div id="listLinks">
                        <div class="linkApercu">
                            <span>http://link.com</span> 
                            <button class='linkDetails'><i class="ico-detail"></i></button>
                            <button class='linkEdit'><i class="ico-edit"></i></button>
                            <button class='linkDelete'><i class="ico-delete"></i></button>
                        </div>
                    </div>
                    <div class="links">
                        <div class="new link">
                            <h3>New link</h3>
                            <div class="input-group">
                                <label for="linkURL" >URL: *</label>
                                <input type="url" name="linkURL" id="linkURL" placeholder="http://" required>
                            </div>
                            <div class="input-group">
                                <label for="linkTitle">Titre: *</label>
                                <input type="text" name="linkTitle" id="linkTitle" placeholder="URL title" required>
                            </div>
                            <div class="input-group">
                                <label for="linkDescription">Description:</label>
                                <input type="text" name="linkDescription" id="linkDescription" placeholder="URL description">
                            </div>
                            <button class='saveLink pull-right'><i class="ico-save"></i>Save</button>
                            <button class="pull-right deleteLink"><i class="ico-delete"></i>Delete</button>
                            <br/>
                        </div>
                    </div>



                </fieldset>
            </div>
        </div>
    </div>
    <button class="pull-righ saveArtist"><i class="ico-save"></i>Save Artist</button>
    <br/>
</div>  