


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12" itemscope itemtype='http://schema.org/Event'>
            <h1>Add a new event</h1>
            <!-- **************************************INFOS******************************************************-->
            <div class="col-lg-8">
                <fieldset> 
                    <h2><i class="ico-info"></i>Informations</h2 > 
                    <div class="col-lg-6">
                        <div class="input-group">
                            <label>Event name: </label>
                            <input type="text" name="eventName" id="eventName">
                        </div>
                        <!--start-->
                        <div class="input-group" itemprop="startDate">
                            <label for="end">Start: * </label>
                            <input type="datetime" name="start" id="start" required>
                        </div>
                        <!--ouverture portes-->
                        <div class="input-group" itemprop="doorTime">
                            <label for="openingDoors">Opening Doors: </label>
                            <input type="datetime" name="openingDoors" id="openingDoors">
                        </div>
                        <!--end-->
                        <div class="input-group">
                            <label for="end">End: * </label>
                            <input type="datetime" name="end" id="end" required="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!--Event type-->
                        <div class="input-group">
                            <label for="selectEventType">Event type: *</label>
                            <select id="selectEventType"> 
                                <option value="concert">Concert</option> 
                                <option value="festival">Festival</option> 
                            </select> 
                        </div>
                        <!--private party-->
                        <div>
                            <label for="followedByPrivateParty">Followed by private party? </label>
                            <input type= "radio" name="followedByPrivateParty" value="true" id="followedByPrivateParty">yes
                            <input type= "radio" name="followedByPrivateParty" value="false" id="notFollowedByPrivateParty" checked>no
                        </div>

                        <div>
                            <label for="nbPlaces">Number of places:</label>
                            <input type="number" name="nbPlaces" value="180" id="nbPlaces" >
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- **************************************TICKETS******************************************************-->
            <div class=" col-lg-4">
                <fieldset>
                    <h2><i class="ico-tiket"></i>Tickets</h2 >
                    <div id="selectTicket">
                        <div class="ticket" id="ticket_1">
                            <select> 
                                <option value="avs">AVS</option> 
                                <option value="student">Student</option> 
                                <option value="adult">Adult</option> 
                            </select> 
                            <input type="text" name='ticketPrice' size="5">
                            <span>CHF</span>
                        </div>
                    </div>
                    <button class="pull-right" id='addTicketCategory'><i class="ico-plus"></i>Add</button>
                </fieldset>
            </div>
            <div class="col-lg-8">
                <!-- **************************************REPRENSENTER******************************************************-->
                <fieldset>
                    <h2><i class="ico-responsable"></i>Representer</h2>
                    <div class="col-lg-6">
                        <!--*********infos*************-->
                        <h3><i class="ico-info"></i>Infos</h3>
                        <!-- Lastname--> 
                        <div class="input-group">
                            <label for="representerLastname">Lastname *: </label>
                            <input name="representerLastname" id='representerLastname' type="text" required="required">
                        </div>
                        <!-- firstname  -->
                        <div class="input-group">
                            <label for="representerFirstname">Firstname: *</label>
                            <input name="representerFirstname" id='representerFirstname' type="text" required="required">
                        </div>
                        <!-- email-->
                        <div class="input-group">
                            <label for="email">E-mail: </label>
                            <input name="email" type="email" id='email' >
                        </div>
                        <!-- phone-->
                        <div class="input-group">
                            <label for="phone">Phone number: </label>
                            <input name="phone" type="text" id='phone' >
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!--*********adresse*************-->
                        <h3><i class="ico-home"></i>Adress</h3>
                        <!-- street-->
                        <div class="input-group">
                            <label for="street">Street: </label>
                            <input name="street" type="text" id='street'>
                        </div>
                        <!-- npa-->
                        <div class="input-group">
                            <label for="npa">NPA: </label>
                            <input name="npa" type="text" id='npa'>
                        </div>
                        <!-- city-->
                        <div class="input-group">
                            <label for="city">City: </label>
                            <input name="city" type="text" id='city'>
                        </div>
                        <!-- country-->
                        <div class="input-group">
                            <label for="country">Country: </label>
                            <input name="country" type="text" id='country'>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- **************************************Contract******************************************************-->
            <div class="col-lg-4">
                <fieldset>
                    <h2><i class="ico-contract"></i>Contract</h2 >
                    <!--Contract-->
                    <input type="file" name="contract" id="contract">
                </fieldset>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-12">
                <div class="artists col-lg-12">
                    <h2> <i class="ico-artist"></i>Artists</h2>
                    <div class="artist">
                        <span>Artist name</span> 
                        <button class='artistDetails' ><i class='ico-detail'></i>Details</button>
                        <button class='artistEdit'><i class="ico-edit"></i>Edit</button>
                        <button class='artistDelete' ><i class="ico-delete"></i>Delete</button>
                    </div>

                    <section id="addArtist">
                        
                    </section>
                    <button class="pull-right" id='addArtist'><i class="ico-plus"></i>Add</button>
                    <br/><br/>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="col-lg-4">
                <!-- **************************************FOOD******************************************************-->
                <fieldset>
                    <h2><i class="ico-food"></i>Food</h2 >
                    <!--normal meals-->
                    <div class="input-group">
                        <label for="normalMeals">Normal meals *: </label>
                        <input id="normalMeals" name="normalMeals" type="number" required>
                    </div>
                    <!--vegan meals-->
                    <div class="input-group">
                        <label for="veganMeals">Vegans meals *: </label>
                        <input id="veganMeals" name="veganMeals" type="number" required>
                    </div>
                    <!-- food notes-->
                    <div class="input-group">
                        <p>Notes: </p>
                        <textarea id="foodNotes" name="foodNotes" rows="5" cols="40"></textarea>
                    </div>
                </fieldset>
            </div>

            <div class="col-lg-4">
                <!-- **************************************NOTES******************************************************-->
                <fieldset>
                    <h2><i class="ico-note"></i>Notes</h2 >
                    <textarea id='eventNotes' cols="40" rows="10"></textarea>
                </fieldset>
            </div>

            <!-- **************************************IMAGE******************************************************-->
            <div class="col-lg-4">
                <fieldset>
                    <h2><i class="ico-img"></i>Image</h2 >
                    <button id="selectExistingImage" disabled>Select an existing image</button> 
                    <p>or</p>
                    <input type="file" name="eventImage" id="eventImage">
                </fieldset>
            </div>
        </div>
    </div>
    <button id="saveEvent" class="pull-right"><i class="ico-save"></i>Save Event</button>
</div>
