<!--.\ START ADVANCED SEARCH BOX-->


    <div class="row">
        <div class="col-lg-2">
            <form role="form">
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <select class="form-control">
                        <option value="" disabled selected>choose</option>
                        <option>Country</option>
                        <option> Rock</option>
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <form role="form">
                <div class="form-group" id="johny">
                    <label for="exampleInputEmail1">Date</label>
                    <input type="date" class="form-control">

                </div>
            </form>
        </div>
    
    </div>

<!--.\ END ADVANCED SEARCH BOX-->