<!--SEARCH BOX-->
      
         

            <div class="row">
                <div class="col-lg-2">
                    <form role="form">

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            <input type="datetime" class="form-control" >
                        </div>
                    </form>
                </div>
                <div class="col-lg-2">
                    <form role="form">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            <input type="datetime" class="form-control" >
                        </div></form>
                        <br/>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <form role="form">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon ico-artist"></span></span>
                            <select class="form-control">
                                <option value="" disabled selected>Genre    </option>
                                <option>Country</option>
                                <option> Rock</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-lg-2">
                    <form role="form">
                        <div class="form-group">
                            <select class="form-control">
                                <option value="" disabled selected>Instrument</option>
                                <option>Guitare</option>
                                <option>Baterie</option>
                                <option>Violon</option>
                                <option>Clarinette</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-lg-2">
                    <form role="form">
                        <div class="form-group">
                            <select class="form-control">
                                <option value="" disabled selected>Event type</option>
                                <option>Concert</option>
                                <option>Festival</option>

                            </select>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    <form role="form">

                        <div class="form-group">
                            <label for="ready">Event ready?</label>
                            <INPUT type="checkbox" name="yes" value="1"> yes
                            <INPUT type="checkbox" name="no" value="0"> no   
                        </div>
                    </form>
                </div>
                <div class="col-lg-2">
                    <form role="form">
                        <label for="published">Published?</label>
                        <INPUT type="checkbox" name="yes" value="1"> yes
                        <INPUT type="checkbox" name="no" value="0"> no
                    </form>
                </div>
            </div>


        <!--.\ END SEARCH BOX-->