<!--.\ START ADVANCED SEARCH BOX-->
<div id="advancedResearchEvent" class="container-fluid advancedSearch">

    <div class="row">
        <div class="col-lg-4 col-md-offset-8">
            <p class="text-right"><a href="#" class="ico-delete"></a></p>

        </div>
    </div>


    <div class="row">
        <div class="col-lg-4">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" id="events">event</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" id="artists">artist</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">representer</button>
                </div>
            </div>
        </div>
    </div>







    <div class="row">
        <div class="col-lg-2">
            <form role="form">
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <select class="form-control">
                        <option value="" disabled selected>choose</option>
                        <option>Country</option>
                        <option> Rock</option>
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <form role="form">
                <div class="form-group">
                    <label for="exampleInputEmail1">Date</label>
                    <input type="datetime" class="form-control" placeholder="date">

                </div>
            </form>
        </div>
    </div>

</div>
</div>
<!--.\ END ADVANCED SEARCH BOX-->