<!--<div class="container-fluid">
    <div class="row buttonsOptions">
        <div class="col-lg-5 col-lg-offset-7">
            <button class="btn btn-default" id="btn-addArtist">Add Artist</button>


        </div>

    </div>

</div>-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
        
                
            <h1><i class="ico-artist">Artists</i></h1>
            
                  </div>
    </div>

    
         <!--   <div class="row">
                <div class="col-lg-2">
                    <div class="form-inline">
                        <label for="sort">Sort by</label>
                        <select class="form-control">
                            <option value="" disabled selected>none</option>
                            <option>Name asc</option>
                            <option>Name desc</option>
                        </select>
                        <button type="button" class="btn btn-default" id="sort">Sort</button>
                    </div>
                </div>-->
            
       
            {{#artists}}
            <!--ListArtist-->
            <div class="row">
                
                <div class="col-lg-12 result">
                    
                    <div class="col-lg-9 col-lg-offset-1 searchResult">
                        <span class="pull-right"><a href="#" class="ico-delete" data-id="{{id}}"></a></span>
                        <span class="pull-right"><a href="#" class="ico-edit"></a></span>

                        <span class="pull-right"><a href="showDetailArtist" class="ico-detail" data-id="{{id}}"></a></span>
                        <h1>{{name}} {{#genres}}<small><span class="genreBreak"> {{name_de}} </span></small>{{/genres}}</h1>
                        <div class="row moreInfo">
                            <div class="col-lg-12">
                                
                                    <p>{{short_description_de}}{{^short_description_de}}-{{/short_description_de}}</p>
                          
                                
                            </div>
                        </div> <!-- end artist-->
                        
                    </div>
                </div> 
            </div>{{/artists}}
  </div> 