<div class="search-fixed">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">

                <form class="form-inline" role="form">

                    <div class="form-group">
                        <label class="sr-only" for="mainSearch">Search</label>
                        <input type="password" class="form-control" id="mainSearch" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-8">
                    <h1>Artists</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    <div class="form-inline">
                        <label for="sort">Sort by</label>
                        <select class="form-control">
                            <option value="" disabled selected>none</option>
                            <option>Name asc</option>
                            <option>Name desc</option>
                        </select>
                        <button type="button" class="btn btn-default" id="sort">Sort</button>

                    </div>

                </div>
            </div>

            <div class="row">


                <div class="col-lg-12"><!--Artist-->
                    <div class="media searchResult">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle" src="img/nakedSoul.jpg" alt="Naked Soul" height="60" width="60" />
                        </a>
                        <div class="media-body">
                            <div class="pull-left">{{#artists}}<h4 class="media-heading "> {{name_de}} </h4>{{/artists}}
                                <h5 class="media-heading">Acoustic Rock, Pop</h5>
                                {{#artists}}<p>{{short_description}}</p>{{/artists}}
                            </div>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-plus"></span> Details
                                </button>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-pencil"></span> Edit
                                </button>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-trash"></span> Delete
                                </button>
                            </div>

                        </div>
                    </div>
                </div> <!-- end artist-->

            </div>
        </div>
    </div>
</div>










<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>