{{#createArtist}}
<h1>Create an Artist</h1>
<input type="text" placeholder="name" id="nameArtistInput" autocomplete="off">
<input type="text" placeholder="genre(s)" id="genreArtistInput" autocomplete="off">
<input type="text" placeholder="Short Descriptions" id="shortDescrArtistInput" autocomplete="off">
<input type="text" placeholder="Complete Descriptions" id="LongDescrArtistInput" autocomplete="off">
<button type="submit" id="btnCreateArtist">Create</button>
{{/createArtist}}

<!--<div style="display:inline" id="GenresListPlace"></div>-->