{{#createArtist}}


<div class="conatainer">

<h1>Create an Artist</h1>
<form role="form">

	<div class="input-group">
        <label for="username" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <input type="text" placeholder="name"  class="form-control" id="nameArtistInput" name="nameArtistInput" />
            <span class="help-block hidden"></span>
        </div>
    </div>

    <div class="input-group">
        <label for="username" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <input type="text" placeholder="genre(s)"  class="form-control" id="genreArtistInput" name="genreArtistInput" />
            <span class="help-block hidden"></span>
        </div>
    </div>


    <div class="input-group">
        <label for="username" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <input type="text" placeholder="shortDescrArtistInput"  class="form-control" id="shortDescrArtistInput" name="shortDescrArtistInput" />
            <span class="help-block hidden"></span>
        </div>
    </div>



  <div class="input-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" id="btnCreateArtist" class="btn btn-success">Create</button>
        </div>
    </div>

</form>

</div>
{{/createArtist}}






<!--<div style="display:inline" id="GenresListPlace"></div>-->