<div class="container-fluid">
    <div class="row buttonsOptions">
        <div class="col-lg-5 col-lg-offset-7">
            <button class="btn btn-default" id="btn-addEvent">Add Event</button>


        </div>

    </div>

</div>
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="ico-date"> List of event</h1>
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            Sort by:
                        </div>
                    </div>
                    {{#events}}
                    <div class="row">
                        <div class="col-lg-12 result">
                            <div class="col-lg-2 col-lg-offset-1 ">
                                <span class="dayResult">{{dayStart}}</span>
                                <span class="monthResult">{{monthStart}}</span>
                            </div>
                            <div class="col-lg-7 searchResult">

                                <span id="linkEventsList" class="pull-right">
                                    <a href="#" class="ico-delete"></a>
                                </span>
                                <span id="linkEventsList" class="pull-right">
                                    <a href="#" class="ico-edit"></a>
                                </span>
                                <span id="linkEventsList" class="pull-right">
                                    <a href="showDetailEvent" class="ico-detail" data-id="{{id}}"></a>
                                </span>

                                <h1>{{title_de}} 
                                    <small id="genres">{{#genres}}{{name_de}}{{/genres}}</small>
                                </h1>
                                <p>
                                    <span class="small ico-clock">{{opening_doors}}</span> 
                                    <span class="small ico-clock">{{hoursStart}}:{{minutesStart}}</span> 
                                    
                                    {{#artists}}  
                                    <span class="small ico-responsable">{{name}} </span>
                                    {{/artists}}
                                </p>

                            </div>
                        </div>
                    </div>
                    {{/events}}  
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-lg-offset-3">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>



</div>
