<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="eventsList"><img src="img/mg.png" height="30px"/></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-group navbar-left mainSearch col-lg-3" role="search">
                <div class="input-group">
                    <input type="text" id="autocomplete" class="form-control" placeholder=" artist, event, representer" autocomplete="off">
                    <ul></ul>
                    <!-- <span class="input-group-btn">
                         <button class="btn btn-default" type="button"><i class="ico-search"></i></button>
                     </span>-->
                </div><!-- /input-group -->
                
            </form>

            <!-- More option hide... -->
            <!--    <a href="eventsList" class="navbar-text" id="plusOption"><i class="ico-plus"></i>options</a> -->


            <ul class="nav navbar-nav navbar-right" id="mainNav"><!--MainNav-->
                <li><a href="eventsList">Events</a></li>
                <li><a href="artistsList">Artists</a></li>
                <li><a href="representersList">Representers</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle ico-config" data-toggle="dropdown"></a>
                    <ul class="dropdown-menu">
                        <!--  <li><a href="#">Sprache</a></li> -->
                        <li><a href="#">LogOut</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>