{{#autocompleteList}}
<div class="input-group">
    <input id="autocomplete" type="text" class="form-control" autocomplete="off" placeholder="artist, event, representer">
    
    <a href="#{{ccid}}" class="options">{{value}} <span class="class-autocomplete">&ndash; {{ type }}</span></a>
    <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="ico-search"></i></button>
    </span>
</div>
{{/autocompleteList}}

<section id="selectionned"><p></p></section>





