
<div class="row">
    <div class="col-lg-12">
        <div class="headerShowBox">
            <h2><i class="ico-musician"></i>Musician</h2> 
        </div>
        <div class="row">
            <div class="col-lg-3">
                
                <dl>       
                    <dt>Name</dt>
                    <dd>{{first_name}}</dd>
                    <dt>Scene Name</dt>
                    <dd>{{musicians.stagename}}</dd>
                    
                    <dt>Instruments</dt>
                    <dd>{{musician.instruments.name_de}}</dd>
                    
                </dl>
                
            </div>


        </div>
    </div>
</div>


