<div class="container-fluid">
    <div class="row buttonsOptions">
        <div class="col-lg-5 col-lg-offset-7">
            <button class="btn btn-default" id="btn-back"><i class="ico-cancel"></i>Back to List</button>
            <button class="btn btn-default">
                <span class="ico-edit">Edit artist</span>
            </button>
            <button class="btn btn-default">
                <span class="ico-delete" id="deleteEvent" data-id="{{id}}">Delete artist</span>
            </button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{title_de}}{{^title_de}}-{{/title_de}}<small>{{#genres}}{{name_de}}{{/genres}}</small></h1> 
            <div class="row moreInfo">
                <div class="col-lg-12">
                    <ul>
                        <li><i class="ico-calendar"></i>{{dayStart}}-{{monthStart}}-{{yearStart}}</li>
                        <li><i class="ico-clock"></i>{{hoursStart}}:{{minutesStart}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row white">
        <div class="col-lg-4">
            <div class="headerShowBox">
                <h2><i class="ico-info"></i>Information</h2> 
            </div>
            <dl>       
                <dt>Doors:</dt>
                <dd>{{opening_doors}}{{^opening_doors}}-{{/opening_doors}}</dd>

                <dt>End:</dt>
                <dd>{{dayEnd}}-{{monthEnd}}-{{yearEnd}} {{hoursEnd}}:{{minutesEnd}}</dd>

                <dt>Type: </dt>
                <dd>{{event_type.name_de}}</dd>

                <dt>AfterParty: </dt>
                <dd>{{followed_by_private}}{{^followed_by_private}}-{{/followed_by_private}}</dd>

                <dt>Contract src:</dt>
                <dd>{{contract_src}}{{^contract_src}}-{{/contract_src}}</dd>

                <dt>Description:</dt>
                <dd>{{description_de}}{{^description_de}}-{{/description_de}}</dd>

                <dt>Place</dt>
                <dd>{{nb_places}}{{^nb_places}}-{{/nb_places}}</dd>
            </dl>
        </div>

        <section id="showTicket">

        </section>


        <div class="col-lg-4">
            <div class="headerShowBox">
                <h2><i class="ico-img">Image</i></h2>
            </div>

            {{#image}}
            <img src="http://pingouin.heig-vd.ch/rockit/{{source}}" height="50px"/>
            {{/image}}
            {{^image}}
            <p>-</p>
            {{/image}}
        </div>
    </div>
    <div class="row white">
        <div class="col-lg-4">
            <div class="headerShowBox">
                <h2><i class="ico-artist">Artist(s)</i></h2> 
            </div>
            <div class="listArtists">
                {{#performers}}
                {{#artist}}
                <p>{{name}}</p>
                {{/artist}}
                {{^artist}}
                <p>-</p>
                {{/artist}}
                {{/performers}}
            </div>
        </div>



        <div class="col-lg-4 meal">
            <div class="headerShowBox">
                <h2><i class="ico-food"></i>Meal</h2> 
            </div>
            <form action="sumMeal.php">
                <dl>       
                    <dt>Standrd meal</dt>
                    <dd id="nb_meal">{{nb_meal}}</dd>

                    <dt>Vegans meals</dt>
                    <dd id="nb_vegans_meal">{{nb_vegans_meal}}</dd>

                    <dt>Note meal</dt>
                    <dd>{{meal_notes_de}}{{^meal_notes_de}}-{{/meal_notes_de}}</dd>
                </dl>
            </form>
        </div>


        <div class="col-lg-4">
            <div class="headerShowBox">
                <h2><i  class="ico-note">Notes</i></h2>
            </div>
            <div class="col-lg-12">
                <p>{{notes_de}}{{^notes_de}}-{{/notes_de}}</p>
            </div>
        </div>
    </div>

    <div class="row white">
        <section id="showRepresenter">

        </section>
    </div>

</div>

