<div class="container-fluid">
    <div class="row buttonsOptions">
        <div class="col-lg-5 col-lg-offset-7">
            <button id="btn-back" class="btn btn-default">
                <span class="ico-edit">Back</span>
            </button>
            <button id="btn-edit" class="btn btn-default">
                <span class="ico-edit">Edit artist</span>
            </button>
            <button id="btn-delete" class="btn btn-default">
                <span class="ico-delete">Delete artist</span>
            </button>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{name}}</h1> 
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="headerShowBox">
                <h2><i class="ico-info"></i>Information</h2> 
            </div>
            <dl>     
                <dt>Name</dt>
                <dd>{{name}}</dd>


                <dt>Genre(s)</dt>
                {{#genres}}
                <dd>{{name_de}}</dd>
                {{/genres}}

            </dl>
            {{#events}}
            <dl>
                <dt>Event</dt>
                <dd>{{title_de}}{{^title_de}}-{{/title_de}}</dd>

                {{#performers}}
                <dt>heure d'arrivée </dt>
                <dd>{{artist_hour_of_arrival}}{{^artist_hour_of_arrival}}-{{/artist_hour_of_arrival}}</dd>

                <dt>Order </dt>
                <dd>{{order}}</dd>

                <dt>Is Support</dt>
                <dd>{{is_support}}{{^is_support}}-{{/is_support}}</dd>
                {{/performers}}
            </dl>
            {{/events}}
            <div class="row">
                <div class="col-lg-6">
                    <h3>Short description</h3> 
                    <p>{{short_description_de}}{{^short_description_de}}-{{/short_description_de}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h3>Long description</h3> 
                    <p>{{complete_description_de}}{{^complete_description_de}}-{{/complete_description_de}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="headerShowBox">
                <h2><i class="ico-img">Images(s)</i></h2>
            </div>
            {{#images}}
            <img src="{{source}}" height="50px">
            {{/images}}
            {{^images}}
            <p>-</p>
            {{/images}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="headerShowBox">
                <h2><i class="ico-link"></i>Link</h2> 
            </div>

            <dl> 
                {{#links}}
                <dt>Link name</dt>
                <dd><a href="{{url}}">{{url}}</a></dd>
                {{/links}}
                {{^links}}
                <dt>Link name</dt>
                <dd><a href="">-</a></dd>
                {{/links}}
            </dl>


        </div>
    </div>
    <section id="musiciansList">

    </section>
</div>
