<div class="container-fluid">
    <div class="row buttonsOptions">
        <div class="col-lg-5 col-lg-offset-7">
            <button class="btn btn-default" id="btn-back">Back to List</button>
            <button class="btn btn-default">
                <span class="ico-edit">Edit artist</span>
            </button>
            <button class="btn btn-default">
                <span class="ico-delete">Delete artist</span>
            </button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{title_de}}<small>{{#genres}}{{name_de}} hip-Hop, Deep House{{/genres}}</small></h1> 
            <div class="row moreInfo">
                <div class="col-lg-12">
                    <ul>
                        <li><i class="ico-calendar"></i>{{start_date_hour}}12 juni 2014</li>
                        <li><i class="ico-clock"></i>12:00</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="headerShowBox">
                <h2><i class="ico-info"></i> Information</h2> 
            </div>
            <dl>       
                <dt>Doors:</dt>
                <dd>{{opening_doors}}6</dd>

                <dt>End:</dt>
                <dd>{{ending_date_hour}}5</dd>

                <dt>Type: </dt>
                <dd>{{event_type.name_de}}4</dd>

                <dt>AfterParty: </dt>
                <dd>{{followed_by_private}}3</dd>

                <dt>Contract src:</dt>
                <dd>{{contract_src}}..</dd>
            </dl>
        </div>
    </div>

    <div class="row">
        <section id="showTicket">

        </section>

        <div class="col-lg-6">
            <h2 class="ico-img"> Images</h2>
            <!--<img src="img/event.png" height="50px"/>-->
            {{#image}}
            <p>{{source}}</p>
            {{/image}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="ico-artist">Artist</h2> 
            <div class="listArtists">
                {{#artists}}
                <p>{{name}}</p>
                <p>{{name}}</p>
                {{/artists}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 meal">
            <div class="headerShowBox">
                <h2><i class="ico-food"></i> Meal</h2> 
            </div>
            <dl>       
                <dt>Standrd meal</dt>
                <dd>{{nb_meal}}3</dd>

                <dt>Vegans meals</dt>
                <dd>{{nb_vegans_meal}}2</dd>

                <dt>Total</dt>
                <dd>7</dd>
            </dl>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="ico-note">Notes</h2> 
            <div class="col-lg-4">
                <p>{{notes_de}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <section id="showRepresenter">
            
        </section>
    </div>

</div>

