@import "bootstrap/bootstrap.less";
@import "bootstrap/bootstrap-theme.less";

/**Search**/
@import "searchBox.less";
@import "advancedSearch.less";
@import "searchResult.less";

/**ASIDE**/

@import "aside.less";

@import "body.less";
@import "fonts.less";
@import "icomoon.less";

@import "sectionForm.less";

@import "button.less";

@import "buttonsOptions.less";
@import "listPimp.less";
@import "show.less";

/**Variables**/

@bg-grey: #AEAEAE;
@bg-less-grey: #AEAEAE;

@bg-body: #DCDCDC;
@bg-white: #fff;
@bg-box-grey: #ebebeb;

@bg-box: #fff;
@border-box: solid 1px #acacac;

@font-family: "Open sans", Helvetica, Arial, sans-serif;


.green{
	color: green;
}

section{
    display:none;
}

